@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #54c5d4;
    --secondary: #759eeb;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    position: relative;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #eee;
    background: #000;
    overflow: hidden;
}

/* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 40px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: #eee;
    text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 0.4px;
}

nav i {
    font-size: 16px;
}

a:hover {
    color: var(--primary);
}

.logo h2 {
    line-height: 35px;
}

/* Banner */
.banner {
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
    z-index: 11 !important;
}

.swiper-slide {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Content */
.content {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 66px 40px;
    position: relative;
}

.content>* {
    width: 50%;
    height: 100%;
    position: relative;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--primary);
    animation: slideRight 0.7s cubic-bezier(0.52,0.19,0.47,1.2);
}

#sub-title p {
    font-size: 20px;
    text-transform: capitalize;
    animation: slideRight 0.7s;
}

.ratings {
    margin: 50px 0;
    font-size: 12px;
}

.ratings span {
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
}

.ratings .fa-solid {
    color: yellow;
}

.navigation-btn {
    display: flex;
    gap: 25px;
}

/* swiper buttons */
.swiper-button-prev,
.swiper-button-next {
    position: relative !important;
    color: #eee !important;
    height: 20px !important;
    width: 20px !important;
    margin: 0 !important;
    right: unset !important;
    left: unset !important;
    top: unset !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: var(--primary) !important;
}

.swiper-button-next:after {
    content: '\f061' !important;
}

.swiper-button-prev:after {
    content: '\f060' !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: 'Font Awesome 6 Free' !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

/* swiper pagination */
.swiper-pagination {
    width: 100%;
    height: 20px !important;
    bottom: 100px !important;
}

.swiper-pagination-bullet {
    background: var(--primary) !important;
    width: 50px !important;
    place-content: 0.6;
    height: 3px !important;
    border-radius: 10px !important;
    margin: 0 3px !important;
}
.bannerSwiper .swiper-slide-active{
    animation: banner 0.4s;
}
.desc {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    text-align: justify;
}

#desc p {
    font-size: 15px;
    max-width: 300px;
    line-height: 1.3;
    margin: 40px 0;
    animation: slideLeft 0.6s;
}

/* Buttons */
button {
    background: transparent;
    text-transform: uppercase;
    font-family: 'Lato';
    border-radius: 25px;
    border: none;
    color: #eee;
    font-size: 12px !important;
    cursor: pointer;
    transition: all 0.3s;
    animation: slideUP 0.6s;
}
button>* {
    margin-right: 10px;
}

.btn-primary {
    background: linear-gradient(to left, var(--primary), var(--secondary));
    padding: 13px 45px;
    transition:all 0.7s;
}
.btn-primary:hover{
    scale: 1.1;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    background: none;
}
.btn-sec{
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 10px 20px;
    margin-right: 10px;
}
.btn-sec:hover{
    background: rgba(0,0,0,0.534);
    color: var(--secondary);
    border-color: var(--secondary);
}
/* Thumbs */
.thumbsSwiper{
    box-sizing: border-box;
    padding: 10px 0;
    max-width: 90%;
    overflow-y: unset !important;
}
.thumbsSwiper .swiper-slide{
    width: 25%;
    height: 100%;
    opacity: 1;
    cursor: pointer;
    padding: 0 10px;
    background: transparent;
    border-radius: 20px;
}
.thumbsSwiper .swiper-slide{
 border-radius: 15px;
 transition: 0.7s;
}
.thumbsSwiper .swiper-slide img{
    border-radius: 15px;
    opacity: 0.8;
}
.thumbsSwiper .swiper-slide:hover{
    transform: translateY(-10%);
}
.thumbsSwiper .swiper-slide:hover img{
    opacity: 1;
}
/* Overlay */
.overlay{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000f7;
    z-index: 1000000;
    animation: grow 0.7s ;
}
.show{
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay i{
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}
.overlay i:hover{
    opacity: 1;
    color: var(--primary);
    rotate: 360deg;
    scale: 1.5;
}
video{
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
/* Add animations  for thumbs*/
.thumbs .swiper-wrapper .swiper-slide:nth-child(1){
    animation: slideThumb 0.5s ease-in-out;
}
.thumbs .swiper-wrapper .swiper-slide:nth-child(2){
    animation: slideThumb 0.5s ease-in-out;
    animation-delay: -0.7s;
}
.thumbs .swiper-wrapper .swiper-slide:nth-child(3){
    animation: slideThumb 0.5s ease-in-out;
    animation-delay: -0.5s;
}
.thumbs .swiper-wrapper .swiper-slide:nth-child(4){
    animation: slideThumb 0.5s ease-in-out;
    animation-delay: -0.3s;
}
.thumbs .swiper-wrapper .swiper-slide:nth-child(5){
    animation: slideThumb 0.5s ease-in-out;
    animation-delay: -0.1s;
}
/* Animations */
@keyframes grow{
    0%{
        width: 0%;
        height: 0%;
    }
}
@keyframes slideLeft{
    0%{
     opacity: 0;
     transform: translateX(45px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideRight{
    0%{
     opacity: 0;
     transform: translateX(-45px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideUP{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes banner{
    0%{
      transform: scale(100)
      skewX(120deg);
    }
}
@keyframes slideThumb{
    0%{
        opacity: 0;
        transform: translateX(100px);
       }
       100%{
           opacity: 1;
           transform: translateX(0);
       }
}
/* Responsive */
@media only screen and (max-width:720px){
.content{
    flex-wrap: wrap;
    padding: 66px 20px;
}
.content>*{
    width: 100%;
    height: auto;
    align-items: flex-start;
}
.swiper-pagination{
    bottom: 45px !important;
}
#title h1{
font-size: 44px;
}
#desc p{
    margin: 20px 0;
}
.ratings{
    margin: 13px 0;
}
.thumbsSwiper .swiper-slide:hover{
 transform: translateY(-16%);
}
}
@media only screen and (max-width:400px){
 .header{
    flex-wrap: wrap;
    padding: 7px 20px;
    margin-bottom: 20px;
 }
}