@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #aa259b;
    --secondary: #eb7579;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    position: relative;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #eee;
    background: #000;
    overflow: hidden;
}

/* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 40px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: #eee;
    text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 0.4px;
}

nav i {
    font-size: 16px;
}

a:hover {
    color: var(--primary);
}

.logo h2 {
    line-height: 35px;
}
/* Banner */
.banner{
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
/* Swiper */
.swiper{
    width: 100%;
    height: 100%;
    z-index: 11 !important;
}
.swiper-slide{
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
   object-fit: cover;
}
/* Content */
.content{
 height: 70vh;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 66px 40px;
 position: relative;
}
.content >*{
    width: 50%;
    height: 100%;
    position: relative;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#title h1{
font-size: 70px;
text-transform: uppercase;
font-weight: 800;
}
#sub-title p{
    font-size: 20px;
    text-transform: capitalize;
}
.ratings{
    margin: 50px 0;
    font-size: 12px;
}
.ratings span{
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
}
.ratings .fa-solid{
    color: yellow;
}
.navigation-btn{
    display: flex;
    gap: 25px;
}
/* swiper buttons */
.swiper-button-prev,
.swiper-button-next{
    position: relative !important;
    color: #eee !important;
    height: 20px !important;
    width: 20px !important;
    margin: 0 !important;
    right:unset !important;
    left: unset !important;
    top: unset !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
color: var(--primary) !important;
}
.swiper-button-next:after{
    content: '\f061' !important;
}
.swiper-button-prev:after{
    content: '\f060' !important;
}
.swiper-button-next:after,
.swiper-button-prev:after{
    font-family: 'Font Awesome 6 Free' !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}
/* swiper pagination */
.swiper-pagination{
    width: 100%;
    height: 20px !important;
    bottom: 100px !important;
}
.swiper-pagination-bullet{
    background: #eee !important;
    width: 50px !important;
    place-content: 0.6;
    height: 3px !important;
    border-radius: 10px !important;
    margin: 0 3px !important;
}
.desc{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    text-align: justify;
}
#desc p{
    font-size: 15px;
    max-width: 300px;
    line-height: 1.3;
    margin: 40px 0;
}